.login-container
{
    max-width: 600px;
    border: 1px solid rgba(0, 0,0,0.1);
    margin: auto;
    margin-top: 60px;
}
.form-container
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.form-container h2
{
    text-align: center;
}
.form-container label
{
    margin-top: 10px;
    font-size: 18px;
}
.form-container input
{
    margin-top: 10px;
    padding: 3px;
    border: 1px solid rgba(0, 0,0,0.1);
    font-size: 16px;
    border-radius: 5px;
}
.form-container input:focus
{
    outline: 0;
    box-shadow: 5px 3px 5px rgba(0, 0,0,0.1);
}
.form-container button
{
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    padding: 3px;
    border: 1px solid rgba(0, 0,0,0.1);
    cursor: pointer;
    border-radius: 5px;
}
.reg-link
{
    margin-top: 10px;
}
.allert
{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.308);
    border-radius: 5px;
}
.allert ul
{
    list-style: none;
}
.allert ul li
{
    color: red;
}
.succes-allert
{
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.514);
    color: green;
}