*
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body
{
    height: 100vh;
    background-color: #020216;
}
header
{
    padding: 20px;
    margin: auto;
    max-width: 1000px;
    background-color: #07062D;
}
.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.menu li a
{
    text-decoration: none;
    font-size: 24px;
    padding: 20px 10px;
    color: white;
    transition: .3s linear;
}
.menu li a:hover
{
    background-color: #1c1a50;
    transition: .3s linear;
}
.swipe-slider
{
    margin: auto;
    max-width: 1400px;
    overflow: hidden;
}
.swipe-slider-container
{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    transition: ease all .3s;
}
.swipe-slider-container img
{
    height: 470px;
    width: 762px;
    border-radius: 20px;
}
.films-list
{
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.films-list li a
{
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}